/* estilos generales */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    background-color: rgb(101, 164, 115);
    border: 5px solid rgb(181, 181, 91); 
    margin: 0; 
    padding: 20px; 
}
hr {
    color: rgb(255, 255, 0);
    margin: 40px;
    
}

.logo {
    max-width: 70px;
  
} 

/*estilos de menu*/
.body-galeria {
    border: 800px solid rgb(181, 181, 91); 
    margin: 2px; 
    padding: 2%;
}

.contenido-galeria{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
   
   
}
.contenido-videos{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;

}

.img-galeria{
border: 2px solid rgb(212, 230, 15);
border-radius: 20px;
padding: 20px;
}

.menu-nav {
display: flex;
align-items: center;

}
.logo {
    max-width: 50px;
}
.menu {
display: flex;
list-style: none;
padding: 0 20px;
gap: 10px;
}
.btn-menu {
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 5px;
    cursor: pointer;
}
.activo {
    background-color: rgb(229, 255, 0);
    color: black;
    border: 1px solid;
    border-radius: 5px;
}
.btn-menu:hover {
    color: rgb(255, 242, 0);

}
.activo:hover{
    color: black;
}

/* estilos del contenido*/
.portada{
    max-width: 500px;
}

/*estilos del pie*/
.pie {
    background-color: rgb(229, 255, 0);
    color: black;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    font-size: 20px;
}
/*estilo de contenido PG-inicio*/
.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.publicidad{
display: flex;
flex-direction: column;
align-content: center;
margin-bottom: 30px;

}

.publicidad img{
    
    display: block;
    margin: 0 auto;
    max-width: min-content;
    width: 35%;
}

.bandeja{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    
}

.tarjeta{
    border: 2px solid rgb(212, 230, 15);
    border-radius: 20px;
    padding: 20px;
}
.tarjeta h3{
    color: dimgrey;
}
.tarjeta a {
    color: rgb(94, 169, 134);
    text-decoration: none;
    margin-top: 10px;
}

/noticia/
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
    color: #333;
}

/* Contenedor de la tabla */
.news-table {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.news-table h2 {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Estilo de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f4f4f4;
}

th, td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    font-weight: bold;
    background-color: #e9ecef;
}
    